# This is a basic workflow to help you get started with Actions

name: Scan Images

# Controls when the workflow will run
on:
#   # Triggers the workflow on push or pull request events but only for the "main" branch
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  scan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Read docker images
        run: echo registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.6.3 > images.txt

      # Runs a set of commands using the runners shell
      - name: Scan image with Trivy Action
        run: |
          while read image; do
            echo "Scanning $image"
            gh workflow run - <<EOF
            - uses: aquasecurity/trivy-action@v0.33.1
              with:
                scan-type: "image"
                image-ref: "$image"
                severity: "CRITICAL,HIGH"
                format: "table"
                exit-code: 1
            EOF
          done < images.txt  
