name: Scan Images

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  scan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .

      - name: Read docker images
        run: echo registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.6.3 > images.txt

      - name: Scan image with Trivy Action
        run: |
          while read image; do
            echo "Scanning $image"
            trivy image \
              --severity CRITICAL,HIGH \
              --exit-code 1 \
              "$image"
          done < images.txt
  
